In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from utils import set_pretty_prints, load_dataset

In [ ]:
np.set_printoptions(precision=5, suppress=True)

In [ ]:
df = load_dataset('imobiliare.ro')

In [ ]:
df

In [ ]:
y_sqmp = df["Price/Surface"]
y_price = df['Price']

# TODO: select viable features
START = None
END = None
X = df.iloc[:,START:END]

In [ ]:
X

In [ ]:
y_price

## Exploration

In [ ]:
field = 'nr cam'
x_label = 'Nr rooms'
title = 'Distribution of nr of rooms per apartment'
X[field].hist(bins=20)
plt.xlabel(x_label)
plt.title(title)

In [ ]:
# TODO: Analyse a few more features
field = None
x_label = None
title = None
X[field].hist(bins=20)
plt.xlabel(x_label)
plt.title(title)

In [ ]:
# TODO: Analyse target distribution
target = None
title = None
x_label = None
plt.hist(target, bins=50)
plt.title(title)
plt.xlabel(x_label)

In [ ]:
# TODO: Re-display the target distribution
target = None
title = None
x_label = None
plot_param = None
plot_param_value = None
kwargs = {plot_param : plot_param_value}
plt.hist(target, bins=50, **kwargs)
plt.title(title)
plt.xlabel(x_label)

In [16]:
X.corr()

,Unnamed: 0,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price
Unnamed: 0,1.000000,-0.004731,-0.047943,0.032681,-0.032017,0.009105,0.005532,-0.046869,-0.156650,-0.025189,-0.048689
nr cam,-0.004731,1.000000,0.777186,0.003816,-0.067465,0.062328,0.073172,-0.000365,-0.139376,0.305659,0.525333
mp,-0.047943,0.777186,1.000000,0.000869,-0.056167,0.053421,0.065719,0.087754,0.006321,0.424620,0.770386
parter,0.032681,0.003816,0.000869,1.000000,-0.285501,-0.388748,-0.448826,0.004277,-0.002453,-0.022384,-0.020806
et1-2,-0.032017,-0.067465,-0.056167,-0.285501,1.000000,-0.772008,-0.500485,0.065535,0.187789,-0.080126,-0.061217
et3+,0.009105,0.062328,0.053421,-0.388748,-0.772008,1.000000,0.778814,-0.065839,-0.178905,0.091875,0.072650
etaj max,0.005532,0.073172,0.065719,-0.448826,-0.500485,0.778814,1.000000,-0.071077,-0.193046,0.097505,0.091064
typ_decom,-0.046869,-0.000365,0.087754,0.004277,0.065535,-0.065839,-0.071077,1.000000,0.213843,-0.033134,0.034928
bloc nou,-0.156650,-0.139376,0.006321,-0.002453,0.187789,-0.178905,-0.193046,0.213843,1.000000,0.016174,0.035021
Price/Surface,-0.025189,0.305659,0.424620,-0.022384,-0.080126,0.091875,0.097505,-0.033134,0.016174,1.000000,0.795742
Price,-0.048689,0.525333,0.770386,-0.020806,-0.061217,0.072650,0.091064,0.034928,0.035021,0.795742,1.000000

In [17]:
new_corr_features = ['nr cam', 'mp', 'parter', 'et1-2', 'et3+','etaj max', 'typ_decom', 'bloc nou', 'Price']

In [18]:
df_new = df[new_corr_features]

In [19]:
df_new.corr()

,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price
nr cam,1.000000,0.777186,0.003816,-0.067465,0.062328,0.073172,-0.000365,-0.139376,0.525333
mp,0.777186,1.000000,0.000869,-0.056167,0.053421,0.065719,0.087754,0.006321,0.770386
parter,0.003816,0.000869,1.000000,-0.285501,-0.388748,-0.448826,0.004277,-0.002453,-0.020806
et1-2,-0.067465,-0.056167,-0.285501,1.000000,-0.772008,-0.500485,0.065535,0.187789,-0.061217
et3+,0.062328,0.053421,-0.388748,-0.772008,1.000000,0.778814,-0.065839,-0.178905,0.072650
etaj max,0.073172,0.065719,-0.448826,-0.500485,0.778814,1.000000,-0.071077,-0.193046,0.091064
typ_decom,-0.000365,0.087754,0.004277,0.065535,-0.065839,-0.071077,1.000000,0.213843,0.034928
bloc nou,-0.139376,0.006321,-0.002453,0.187789,-0.178905,-0.193046,0.213843,1.000000,0.035021
Price,0.525333,0.770386,-0.020806,-0.061217,0.072650,0.091064,0.034928,0.035021,1.000000

## Modelling
- further process X data maybe
- construct normal eq and determine model coefs `(((XtX)^-1)Xt)y (y = x*w => w = y/x)`
- validate results (how, when)

`f(X) = y = X[0]*w[0] + X[1]*w[1] + .... X[N]*w[N] +X[N+1]*w[N+1] | X[N+1] == 1`

In [ ]:
X.mean()

In [ ]:
X.min()

In [ ]:
X.std()

In [ ]:
X.max()

In [ ]:
np_X = X.values

In [ ]:
np_X

In [ ]:
np_X.mean(axis=0)

In [ ]:
np_X_n = (np_X - np_X.mean(0)) / np_X.std(0)

In [ ]:
np_X_n

In [ ]:
np_y = y_price.values
np_y_n = (np_y - np_y.min()) / (np_y.max() - np_y.min())
np_y_n

In [ ]:
np_y.min()

In [ ]:
np_y.max()

In [ ]:
y_norm_sub = np_y.min()
y_norm_div = np_y.max() - np_y.min()

In [ ]:
# TODO: write normal eq for raw data
np_weights = None

# TODO: write normal eq for normalized data
np_weights_n = None

In [ ]:
np_weights

In [ ]:
np_weights_n

In [ ]:
#TODO: calc predictions for raw data model
np_y_preds = None

#TODO: calc predictions for normalized data model
np_y_preds_n = None

In [ ]:
np_y_preds

In [ ]:
plt.figure()
plt.hist(np_y_preds)
plt.title('Raw model predictions')
plt.figure()
plt.hist(np_y_preds_n)
plt.title('Normed data model predictions')

### One more model before testing results

Lets further improve model by adding bias

In [ ]:
ones = np.ones(shape=(np_X_n.shape[0], 1))
ones

In [ ]:
np_X_nb = np.concatenate((np_X_n, ones), axis=-1)
np_X_nb

In [ ]:
# TODO: calculate weights
np_weights_nb = None
np_weights_nb

In [ ]:
# TODO: calculate predictions
np_y_preds_nb = None
np_y_preds_nb

In [ ]:
plt.hist(np_y_preds_nb, bins=50)

In [ ]:
np_y_pred_price = None
np_y_pred_n_price = None
np_y_pred_nb_price = None

### Now lets prepare some friendly calitative analysis outputs

Raw model

In [ ]:
df_result_raw = pd.DataFrame(
    {
        'GOLD' : y_price,
        'PRED' : np_y_pred_price.round(0),
    }
)
df_result_raw.head(10)
df_result_raw.tail(10)

Normed data model

In [ ]:
df_result_n = pd.DataFrame(
    {
        'GOLD' : y_price,
        'PRED' : np_y_pred_n_price.round(0),
    }
)
df_result_n.head(10)
df_result_n.tail(10)

Normed & bias added

In [ ]:

df_result_nb = pd.DataFrame(
    {
        'GOLD' : y_price,
        'PRED' : np_y_pred_nb_price.round(0),
    }
)
df_result_nb.head(10)
df_result_nb.head(10)

Now lets see some quantitative analysis of the results

In [ ]:
# TODO: complete code below
abs_err = np.abs(y_price - None)
abs_err

In [ ]:
proc_err = abs_err / y_price
proc_err = proc_err * 100

In [ ]:
df_result = pd.DataFrame(
    {
        'GOLD' : y_price,
        'PRED' : np_y_pred2_price.round(0),
        'ERR%' : proc_err.round(2)
    }
)
df_result.head(20)

In [ ]:
df_result.tail(20)

In [ ]:
proc_err.mean()

In [ ]:
def train_neq(inputs, gold):
    # TODO:
    weights = np.linalg.pinv(inputs.T.dot(inputs)).dot(inputs.T).dot(gold)
    return weights

def evaluate(theta, inputs, gold, y_div, y_sub, name=""):
    _y_pred = inputs.dot(theta)
    _y_vals = _y_pred * y_div + y_sub
    
    _y_true = gold * y_div + y_sub
    
    res_err = np.abs(_y_true - _y_vals)
    prc_err = res_err / _y_true
    
    overall = prc_err.mean()
    df_result = pd.DataFrame(
        {
        'GOLD' : _y_true,
        'PRED' : _y_vals.round(0),
        'ERR%' : prc_err.round(2)
        }
    )
    print('Results for', name)
    print(df_result.head(20))
    print(df_result.tail(20))
    print("Overall error: {:.1f}%".format(overall * 100))
    return overall

In [ ]:
from sklearn.model_selection import train_test_split
x_trn, x_tst, y_trn, y_tst = train_test_split(np_X_nb, np_y_n, test_size=0.2)

In [ ]:
theta = train_neq(
    inputs=x_trn,
    gold=y_trn
)

In [ ]:
theta

In [ ]:
evaluate(
    theta=theta,
    inputs=x_trn,
    gold=y_trn,
    y_div=y_norm_div,
    y_sub=y_norm_sub,
    name='TRAIN',
)

In [ ]:
evaluate(
    theta=theta,
    inputs=x_tst,
    gold=y_tst,
    y_div=y_norm_div,
    y_sub=y_norm_sub,
    name='TEST',
)